<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 header">
            <h1>MAKACHOICE</h1>
            <form class="title" ng-submit>
                <input class="col-md-10 inpgood" type="text" placeholder="Should I lear how to code ?" ng-model="title">
                <button type="submit" class="btn okmain">OK</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 right">
            <h2>Good</h2>
            <form class="subtitlegood" ng-submit>
                <input class="col-md-10 inpgood" type="text" placeholder="Yep you should lear how to code !" ng-model="subtitlegood">
                <button type="submit" class="btn okgood">OK</button>
            </form>
        </div>
        <div class="col-md-6 wrong">
            <h2>Evil</h2>
            <form class="subtitleevil" ng-submit>
                <input class="col-md-10 inpevil" type="text" placeholder="Nope keep on chillin'!" ng-model="subtitleevil">
                <button type="submit" class="btn okevil">OK</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 choice">
            <div class="col-md-10 txt">
                <textarea class="col-md-10 textarea" placeholder="coding is fun" name="name" rows="8" cols="80" ng-model="reason"></textarea>
            </div>

            <div class="col-md-1 picto">
                <div class="form-group">
                    <input type="number" class="form-control bfh-number" value="0" min="1" max="5" ng-model="value">
                </div>
                <p ng-hide="defautval">what is your reason's value ?</p>
            </div>
            <div class="row">
                <div class="col-md-12 choice">
                    <button class="col-md-6 goodbtn" type="button" class="btn btn-default" ng-click="good()">Good</button>
                    <button class="col-md-6 evilbtn" type="button" class="btn btn-default" ng-click="evil()">Evil</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 title">
            <h3>{{title}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 good-txt">
            <h4>{{subtitlegood}}</h4>
        </div>
        <div class="col-md-6 evil-txt">
            <h4>{{subtitleevil}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 good-reasons">
            <div ng-repeat="reason in goodreasons" ng-mouseenter="edit=false" ng-mouseleave="edit=true">
                <div class="col-md-5">{{reason.texte}}
                </div>
                <div class="col-md-1" ng-hide="edit">
                    <button type="button" class="btn btn-default">edit</button>
                    <button type="button" class="btn btn-default">delete</button>
                </div>
            </div>
        </div>
        <div class="col-md-6 evil-reasons">
            <div ng-repeat="reason in evilreasons" ng-mouseenter="edit=false" ng-mouseleave="edit=true">
                <div class="col-md-5 goodtxt">{{reason.texte}}
                </div>
                <div class="col-md-1" ng-hide="edit">
                    <button type="button" class="btn btn-default">edit</button>
                    <button type="button" class="btn btn-default">delete</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button class="col-xs-12" type="button" class="btn btn-default" ng-click="submit()">submit
        </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p ng-hide="goodResponse">{{subtitlegood}}</p>
            <p ng-hide="evilResponse">{{subtitleevil}}</p>
        </div>
    </div>
</div>
