<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>MAKACHOICE</h1>
            <form class="title" ng-submit>
                <input type="text" ng-model="title">
                <button type="submit" class="btn btn-default">OK</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 right">
            <h2>Good</h2>
            <form class="subtitlegood" ng-submit>
                <input type="text" ng-model="subtitlegood">
                <button type="submit" class="btn btn-default">OK</button>
            </form>
        </div>
        <div class="col-md-6 wrong">
            <h2>Evil</h2>
            <form class="sub-title" ng-submit>
                <input type="text" ng-model="subtitleevil">
                  <button type="submit" class="btn btn-default">OK</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 choice">
            <div class="col-md-10 txt">
                <textarea name="name" rows="8" cols="80" ng-model="reason"></textarea>
            </div>
            <div class="col-md-1 picto">
                <div class="form-group">
                    <label for="exampleSelect1">value</label>
                    <select class="form-control" id="exampleSelect1" ng-option="value">
                   <option>1</option>
                   <option>2</option>
                   <option>3</option>
                   <option>4</option>
                   <option>5</option>
                 </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 choice">
                    <button type="button" class="btn btn-default" ng-click="good()">Good</button>
                    <button type="button" class="btn btn-default" ng-click="evil()">Evil</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 title">
            <h3>{{title}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 good-txt">
            <h4>{{subtitlegood}}</h4>
        </div>
        <div class="col-md-6 evil-txt">
            <h4>{{subtitleevil}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 good-reasons">
<ul ng-repeat="reason in goodreasons">
  <li>{{reason.texte}}</li>
</ul>
        </div>
        <div class="col-md-6 evil-reasons">
          <ul ng-repeat="reason in evilreasons">
            <li>{{reason.texte}}</li>
          </ul>
        </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button type="button" class="btn btn-default"ng-click="submit()">submit
        </button>
      </div>
    </div>
</div>
